<div class="container" id="mydiv">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>
          <mat-toolbar>Select Date For The Match</mat-toolbar>
        </mat-card-title>
        <mat-card-content>
          <div class="example-container">
            <mat-form-field>
              <input matInput [matDatepicker]="myDatepicker" (dateChange)="addEvent($event)">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker [startAt]="selectedDate" #myDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-card>
              <mat-card-content class="text-center">
                <p *ngIf="!showMatch">{{warningMessage}}</p>
                <ng-container *ngIf="showMatch && matchDetails.participants">
                  <p *ngFor="let match of matchDetails.participants; let i = index">
                    <mat-label>
                      <b>{{match.name}}</b>
                    </mat-label>
                    <mat-label *ngIf="i < matchDetails.participants.length - 1"> 
                        <p>Vs</p>
                    </mat-label>
                  </p>
                  <p>{{matchDetails.venue_name}}</p>
                </ng-container>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4" style="display: flex;align-items: center;justify-content: center">
                  <button mat-raised-button (click)="showDashboard()" [disabled]="!showMatch">
                    Proceed
                  </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>