.player-list-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 15px;
    font-weight: bold;
}

::ng-deep .mat-list-item-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}