<div class="container" id="mydiv" *ngIf="!showLoader">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class="text-center">Match Events</h3>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-group">
      <label for="exampleDropdownFormPassword1">Select Event</label>
      <div class="dropdown">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{selectedEvent}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item disabled" type="button">Select Event</button>
          <ng-container *ngFor="let event of events">
            <button class="dropdown-item" type="button" (click)="updateEvent(event.value)">{{event.label}}</button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-group">
      <label for="exampleDropdownFormPassword1">Select Team</label>
      <div class="dropdown">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{selectedTeam}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item disabled" type="button">Select Team</button>
          <ng-container *ngFor="let team of teams">
            <button class="dropdown-item" type="button" (click)="updateTeam(team.value)">{{team.label}}</button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-group">
      <label for="exampleDropdownFormPassword1">Select Player</label>
      <div class="dropdown">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{selectedPlayer.playerName ? selectedPlayer.playerName : selectedPlayer}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item disabled" type="button">Select Player</button>
          <ng-container *ngFor="let player of players">
            <button class="dropdown-item" type="button" (click)="updatePlayer(player.value)">{{player.label}}</button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-group">
      <label for="exampleDropdownFormPassword1">ScoreLine</label>
      <input placeholder="Enter Scoreline" class="form-control" [(ngModel)]="scoreLine">
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3"></div>
    <div class="col-md-6 form-group">
      <label for="exampleDropdownFormPassword1">Time</label>
      <input placeholder="Enter Time" class="form-control" [(ngModel)]="time">
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button class="btn btn-outline-success" (click)="submit()">Submit</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div *ngIf="showLoader" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width: 48px">
          <span class="fa fa-spinner fa-spin fa-3x"></span>
      </div>
  </div>
</div>