/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.align-center-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-row-style {
    margin: 20px;
}