<ng-container>
    <div class="align-center-style">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <div  class="container">
      <mat-nav-list *ngIf="!loading">
        <mat-list-item *ngFor="let team of teams" class="team-list-style" (click)="goToTeamDetails(team)">
          <span>{{team.teamName}}</span>
          <span>
            <mat-icon>chevron_right</mat-icon>
          </span>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="row margin-row-style">
      <div class="col-md-12 align-center-style">
        <button mat-raised-button color="warn" (click)="addNewTeam()">+ Add New Team</button>
      </div>
    </div>
  </ng-container>