<ng-container>
    <div class="align-center-style">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <div class="container" *ngIf="!loading">
      <mat-nav-list>
        <mat-list-item *ngFor="let team of teams" class="team-list-style" (click)="goToTeamDetails(team)">
          <span class="col-md-6">{{team.teamName}}</span>
          <span class="col-md-6">
            <button mat-button>Team Details ></button>
            <button mat-button>Player Details ></button>
          </span>
        </mat-list-item>
      </mat-nav-list>
      <div class="row margin-row-style">
        <div class="col-md-12 align-center-style">
          <button mat-raised-button color="warn" (click)="addNewTeam()">+ Add New Team</button>
        </div>
      </div>
    </div>
    
  </ng-container>