<div class="container">
  <div class="row team-details-header-style">
    <div class="col-md-4">
      <button mat-raised-button color="warn" (click)="backToTeamDetails()">Back</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 edit-btn-container">
      <button mat-raised-button color="accent" (click)="toggleEditMode()">Edit</button>
    </div>
  </div>
  <hr />
  <div class="row team-details-content-header-style" *ngIf="teamDetails">
    <ng-container [formGroup]="teamDetailsForm">
      <div class="col-md-12 team-details-content-style" *ngFor="let team of teamDetailsFormArray.controls; let i = index">
        <ng-container [formGroup]="team">
          <div class="col-md-4 team-details-key-style">
            {{formProperties[i]}}
          </div>
          <div class="col-md-8" *ngIf="!editMode">
            {{team.get(formProperties[i]).value}}
          </div>
          <div class="col-md-8" *ngIf="editMode">
            <input type="text" mat-input [formControlName]="formProperties[i]" class="form-control">
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="row" style="margin-top: 10px" *ngIf="editMode">
    <hr />
    <div class="col-md-12 bottom-btn-style">
      <button mat-raised-button (click)="toggleEditMode()">Cancel</button>
      <button mat-raised-button color="primary" (click)="updateTeamDetails()">Update</button>
    </div>
  </div>
</div>